/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
}
@media only screen and (max-width: 768px) {
  .tong1 {
    padding-top: 10px;
  }
  .chu h3 {
    font-size: 2.2em;
  }
  svg {
    margin-top: -40px;
    margin-left: 15px;
    font-size: 8.5em;
  }
  .console-container {
    margin-top: -60px;
    font-size: 2.4em;
  }
  .circular-bg {
    margin-top: 60px;
    margin-right: 150px;
    text-align: center;
  }
  /* phanduoi */
  header {
    height: 700px;
  }
  .who {
    flex-direction: column;
    padding: 20px;
  }
  .html {
    margin-top: 20px;
  }
  .with {
    margin-top: 40px;
  }
  .chu1 {
    margin-left: 0px;
  }
  .img {
    text-align: center;
    margin-top: 20px;
  }
  /* phan3khoahoc */
  .tong2 {
    padding: 20px;
    height: 1406px;
    text-align: center;
  }
  .khoahoc {
    flex-direction: column;
    margin-left: -4px;
    margin-top: 10px;
  }
  .from {
    width: 380px;
    height: 150px;
  }
  .tong2 img {
    width: 380px;
    height: 230px;
    object-fit: cover;
  }
  .from1 {
    width: 380px;
    height: 150px;
  }
  .top1 {
    margin: 10px 0px;
  }
  /* <!-- phanareer of mine --> */
  .mine {
    height: 700px;
  }
  .tabs {
    margin-top: 20px;
  }
  .tab-item {
    margin: 10px;
    font-size: 14px;
    padding: 15px 10px;
  }
  .tab-icon {
    font-size: 17px;
  }
  .tab-content {
    padding: 20px 10px;
  }
  /* <!-- phanawesome --> */
  .ui {
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 30px;
  }
  .awesome {
    height: 650px;
    padding: 30px 7px;
  }
  /* <!-- phanvscode --> */
  .vscode {
    padding: 30px 0px;
    height: 1800px;
  }
  .hinetong {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .hine {
    margin-left: 6px;
  }

  /* <!-- powerfull --> */
  .skills {
    padding: 30px 7px;
  }
  .not {
    margin-top: 50px;
  }
  .not span {
    font-size: 120px;
  }
  .found {
    font-size: 30px;
    margin-top: 50px;
  }
}
